<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="escanear">
      <ion-icon name="play-circle"></ion-icon>
     Escanear Usuario
    </ion-tab-button>
    <ion-tab-button tab="usuarios">
      <ion-icon name="radio"></ion-icon>
      Radio
    </ion-tab-button>
    <ion-tab-button tab="reportes">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="horarios">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button tab="configuracion">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
