<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="escanear">
      <ion-icon name="qr-code"></ion-icon>
     Escanear Usuario
    </ion-tab-button>
    <ion-tab-button tab="reportes">
    <ion-icon name="create-outline"></ion-icon>
      Generar Reportes
    </ion-tab-button>
      <ion-tab-button tab="usuarios">
      <ion-icon name="people-outline"></ion-icon>
        Usuarios
      </ion-tab-button>
    <ion-tab-button tab="horarios">
      <ion-icon name="calendar-number-outline"></ion-icon>
      Ver horarios
    </ion-tab-button>
  
    <ion-tab-button tab="configuracion">
      <ion-icon name="settings-outline"></ion-icon>
      Configuracion Personalizada
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
